.nav-link{
    text-decoration: none;
}
.nav-container{
    display: flex;
    gap: 20px;
}
.route{
    font-weight: 600;
    font-family: "Consolas", monospace;
}

@media (max-width: 576px){
    .nav-container{
        gap: 8px;
    }
}