.summary-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box img {
    width: 70%;
}
.content-box{
    width: 100%;
    height: 100%;
    font-family: "Consolas", monospace;
}
.book-btn{
    padding: 4px 12px 4px 12px;
    color: white;
    background: #c71f30;
    border: none;
    border-radius: 0px;
}

@media (max-width: 768px) {
    .summary-container div img {
        width: 100%;
    }
}